services:
  - type: web
    name: safespace
    plan: free
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NPM_CONFIG_PRODUCTION
        value: 'false'
      - key: NODE_ENV
        value: production
      - key: TWILIO_ACCOUNT_SID
        sync: false
      - key: TWILIO_AUTH_TOKEN
        sync: false
      - key: TWILIO_PHONE_NUMBER
        sync: false
      - key: VITE_GOOGLE_CLIENT_ID
        sync: false
